#start
{
    margin-left: 40px;
}

.info
{
    margin-left: 40px;
    padding-left: 0;
}

#populaires
{
    display: flex;
    width: 30%;
    order: 2;
    border-radius: 20px;
    justify-content: space-around;
}

#populaires a
{
    position: relative;
}

#populaires h2
{
    padding-top: 20px;
}

#content_cartes_hebergements
{
    display: flex;
}

#content_cartes_hebergements a
{
    width: 30%;
    font-size: 0.8em;
}

.fiches_hebergements
{
    margin-bottom: 30px;
    position: relative;
}

main
{
    justify-content: space-evenly;
    display: flex;
}

.filtres
{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-left: 20px;
    margin-right: 25px;
}

.content_picture
{
    width: 150px;
}

#hebergements
{
    order: 1;
    width: 60%;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 25px;
    padding-right: 0;
}

.description i
{
    padding-top: 0;
}

.fiches_activites
{
    height: inherit;
}

aside
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

aside h2
{
    width: 100%;
}

#colonne1
{
    width: 24%;
}


#colonne1 img
{
    height: 347px;
}

#colonne2
{
    width: 24%;
}

#colonne3
{
    width: 24%;
}

#colonne3 img
{
    height: 347px;
}

#colonne4
{
    width: 24%;
}

.stars_conteneur
{
    position: absolute;
    bottom: 5px;
}

.stars_conteneur_populaires
{
    position: absolute;
    bottom: 15px;
}