#populaires
{
    display: flex;
    width: 30%;
    order: 2;
    border-radius: 20px;
}

#content_cartes_hebergements
{
    display: flex;
}

#content_cartes_hebergements a
{
    width: 30%;
}

.fiches_hebergements
{
    margin-bottom: 30px;
}

main
{
    justify-content: space-evenly;
    display: flex;
}

.filtres
{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.content_picture
{
    width: 150px;
}

#hebergements
{
    order: 1;
    width: 60%;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 25px;
    padding-right: 0;
}

.description i
{
    padding-top: 0;
}