.filtres
{
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
}

.icone_filtre
{
    border: 3px #F2F2F2 solid;
    border-radius: 25px;
    padding-right: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: 'Raleway-Bold';
}

.icone_filtre > i
{
    color: var(--icone-filtre);
    background-color: var(--icone-filtre-bg);
    font-size: 27px;
    border-radius: 25px;
    padding: 15px;
    margin-left: -4px;
    margin-right: 10px;
}

.info
{
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 10px;
    display: inline-block;
}

.info i
{
    border: solid;
    border-radius: 30px;
    border-color: #F2F2F2;
    color: #0065FC;
    padding: 10px;
    font-size: 12px;
}