#content_cartes_hebergements p
{
    margin: 0; /* enlever margin pour le nav */
}

.description_hebergements .star-grey
{
    color: #F2F2F2;
}

.description_hebergements .star-blue
{
    color: #0065FC;
}

#content_cartes_hebergements
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.fiches_hebergements
{
    border: 4px #FFFFFF solid;
    background-color: white;
    height: 200px;
    border-radius: 17px;
    box-shadow: 4px 4px 4px 4px #F2F2F2;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.fiches_hebergements i
{
    color: blue;
    margin: 0;
}

.fiches_hebergements img
{
    height: 120px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.description_hebergements
{
    justify-content: space-between;
    padding-left: 10px;
}

.description_hebergements i
{
    padding-top: 10px;
    font-size: small;
}

.description_hebergements p
{
    padding-top: 5px;
}