#populaires
{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column; /* pas possible de modifier le .description i   width 100% */
}

#titre_populaires
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 20px;
}

#titre_populaires i
{
    margin-top: 45px;
    font-size: 1.4em;
}

.content_picture
{
    height: 150px;
    width: 150px;
}

.description
{
    padding-right: 10px;
    padding-left: 15px;
    width: 66%;
}

.description i
{
    padding-top: 15px;
    font-size: small;
}

.fiches
{
    border: 4px #FFFFFF solid;
    background-color: white;
    height: 140px;
    border-radius: 17px;
    box-shadow: 4px 4px 4px 4px #F2F2F2;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
    position: relative;
}

.fiches i
{
    margin: 0;
}

.fiches .star-blue
{
    color: var(--full-stars);
}

.fiches .star-grey
{
    color: var(--empty-stars);
}

.fiches img
{
    height: 140px;
    width: 130px;
    border-radius: 15px 0px 0px 15px;
}

.stars_conteneur_populaires
{
    position: absolute;
    bottom: 5px;
}