#populaires
{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column; /* pas possible de modifier le .description i   width 100% */
}

.content_picture
{
    height: 150px;
    width: 150px;
}

.description
{
    padding-right: 10px;
    padding-left: 15px;
    width: 66%;
}

.description i
{
    padding-top: 15px;
    font-size: small;
}

.fiches
{
    border: 4px #FFFFFF solid;
    background-color: white;
    height: 140px;
    border-radius: 17px;
    box-shadow: 4px 4px 4px 4px #F2F2F2;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.fiches i
{
    margin: 0;
}

.fiches .star-blue
{
    color: #0065FC;
}

.fiches .star-grey
{
    color: #F2F2F2;
}

.fiches img
{
    height: 140px;
    width: 130px;
    border-radius: 15px 0px 0px 15px;
}