@import url('populaires.css');
@import url('header.css');
@import url('recherche.css');
@import url('filtres.css');
@import url('hebergements.css');
@import url('activites.css');
@import url('start.css');

@font-face {
    font-family: 'Raleway';
    src: url('../Raleway-Italic-VariableFont_wght.ttf');
    src: url('../Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('../Raleway-Bold.ttf');
}

body
{
    font-family: 'Raleway';
    margin: 0;
}

img
{
    width: fit-content;
    height: fit-content;
    object-fit: cover;
}  

a
{
    text-decoration: none;
    color: black;
}

h1
{
    font-family: 'Raleway-Bold';
    font-size: 25px;
}

h2
{
    padding-left: 20px; 
    font-family: "Raleway-Bold";
}

h3
{
    padding-top: 40px;
    font-family: "Raleway-Bold";
}

#bloc_page
{
    max-width: 1920px;
    margin: auto;
}

#afficher
{
    padding-left: 20px;
    font-family: "Raleway-Bold";
    margin-bottom: 40px;
    margin-top: 20px;
}

footer
{
    background-color: #F2F2F2;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

:root
{
    --full-stars: #0065FC;
    --empty-stars: #F2F2F2;
    --icone-filtre-bg: #DEEBFF;
    --icone-filtre: #0065FC;
}