

#content_cartes_hebergements
{
    flex-direction: row;
}

#content_cartes_hebergements > a
{
    width: 50%;
}

#rechercher
{
    display: inline;
}

#icone
{
    display: none;
}

.info i
{
    margin-bottom: 0;
}

/* 
section en pleine largeur
elements internes aux sections en deux */