#activites
{
    padding-left: 20px;
}

.fiches_activites
{
    border: 4px #FFFFFF solid;
    background-color: white;
    height: 200px;
    border-radius: 17px;
    box-shadow: 4px 4px 4px 4px #F2F2F2;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.fiches_activites i
{
    color: blue;
}

.fiches_activites img
{
    height: 150px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.fiches_activites div
{
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
}