img
{
    width: 100%;
    object-fit: cover;
}  

#bloc_page
{
    max-width: 768px;
    margin: auto;
}

.fas fa-money-bill-wave
{
    border: 1px black solid;
}

.icone_filtre
{
    border: 3px #F2F2F2 solid;
    border-radius: 25px;
    box-sizing: content-box;
    font-weight: bold;
}

.icone_filtre > i
{
    color: #0065FC;
    background-color:#DEEBFF;
    font-size: 20px;
    border-radius: 25px;
    display: inline-block;
    padding: 15px;
    margin-left: -2px;
}

#populaires
{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

h2
{
    padding-left: 15px;
}

.soleil_matin
{
    border: 4px #FFFFFF solid;
    border-radius: 10px;
    box-shadow: 2px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.coeur_eau
{
    border: 4px #FFFFFF solid;
    border-radius: 10px;
    box-shadow: 2px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.bleu_et_blanc
{
    border: 4px #FFFFFF solid;
    border-radius: 10px;
    box-shadow: 2px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}