img
{
    width: 100%;
    object-fit: cover;
}  

a
{
    text-decoration: none;
    color: black;
}

#onglets
{
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 24px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #9EA0A1;
    margin-left : 0;
}

#onglets li
{
    float : left;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;
    border : 1px solid #9EA0A1;
}

#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}

#onglets a:hover
{
    background : #fff;
}

#bloc_page
{
    max-width: 768px;
    margin: auto;
}

.fas fa-money-bill-wave
{
    border: 1px black solid;
    border-radius: 25px;
}

.pin
{
    border: 2px #FFFFFF solid;
    background-color: #F2F2F2;
}

.icone_filtre
{
    border: 3px #F2F2F2 solid;
    border-radius: 25px;
    box-sizing: content-box;
    font-weight: bold;
}

.icone_filtre > i
{
    color: #0065FC;
    background-color:#DEEBFF;
    font-size: 20px;
    border-radius: 25px;
    display: inline-block;
    padding: 15px;
    margin-left: -2px;
}

#populaires
{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

h1
{
    padding-left: 15px;
}

.soleil_matin
{
    border: 4px #FFFFFF solid;
    border-radius: 10px;
    box-shadow: 2px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.soleil_matin i
{
    color: blue;
}

.soleil_matin img
{
    height: 150px;
}

.content_picture
{
    width: 150px;
    height: 150px;
}

.coeur_eau
{
    border: 4px #FFFFFF solid;
    border-radius: 10px;
    box-shadow: 2px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.bleu_et_blanc
{
    border: 4px #FFFFFF solid;
    border-radius: 10px;
    box-shadow: 2px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.cannebiere
{
    border: 4px #FFFFFF solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.hotel_port
{
    border: 4px #FFFFFF solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.mouettes
{
    border: 4px #FFFFFF solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.hotel_mer
{
    border: 4px #FFFFFF solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.panier
{
    border: 4px #FFFFFF solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.amina
{
    border: 4px #FFFFFF solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.port_marseille
{
    border: 4px #FFFFFF solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.pomegues
{
    border: 4px #FFFFFF solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.frioul
{
    border: 4px #FFFFFF solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.calanques
{
    border: 4px #FFFFFF solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.notre_dame
{
    border: 4px #FFFFFF solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.longchamp
{
    border: 4px #FFFFFF solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

footer
{
    background-color: #F2F2F2;
}