@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Italic-VariableFont_wght.ttf');
    src: url('Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('Raleway-Bold.ttf');
}

body
{
    font-family: 'Raleway';
    margin: 0;
}

img
{
    width: fit-content;
    height: fit-content;
    object-fit: cover;
}  

a
{
    text-decoration: none;
    color: black;
}

#reservia
{
    margin-left: 20px;
    margin-top: 20px;
}

#start
{
    padding-left: 20px;
    padding-right: 10px;
}

h1
{
    font-family: 'Raleway-Bold';
    font-size: 25px;
}

h2
{
    padding-left: 20px; 
    font-family: "Raleway-Bold";
}

h3
{
    padding-top: 40px;
    font-family: "Raleway-Bold";
}

#content_cartes_hebergements p
{
    margin: 0; /* enlever margin pour le nav */
}

#bloc_page
{
    max-width: 1920px;
    margin: auto;
}

#inscrire
{
    position: absolute;
    top: 35px;
    right: 20px;
    list-style: none;
    color: blue;
}

.liens_menu
{
    border-bottom: 1px solid gray;
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
}

.liens_menu:hover
{
    border-bottom: 1px solid blue;
}
/* rajouter les couleurs sur herbegements et activites */

#menu > ul
{
    list-style: none;
    padding: 0;
    display: flex;
}

#rechercher
{
    display: none;
}

.fas fa-money-bill-wave
{
    border: 1px black solid;
    border-radius: 25px;
}

#start input[type=text]
{
    border: 2px #F2F2F2 solid;
    padding: 10px;
    font-family: "Raleway-Bold";
}

#pin
{
    border: 2px #FFFFFF solid;
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 15px 0px 0px 15px;
}


.filtres
{
    padding-left: 20px;
}

.icone_filtre
{
    border: 3px #F2F2F2 solid;
    border-radius: 25px;
    box-sizing: content-box;
    padding-top: 14px;
    padding-bottom: 11px;
    padding-right: 15px;
    margin-right: 10px;
    font-family: 'Raleway-Bold';
}

.icone_filtre > i
{
    color: #0065FC;
    background-color:#DEEBFF;
    font-size: 20px;
    border-radius: 25px;
    display: inline-block;
    padding: 15px;
    margin-left: -4px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.info
{
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 10px;
}

.info i
{
    border: solid;
    border-radius: 30px;
    border-color: #F2F2F2;
    color: #0065FC;
    padding: 10px;
}

#populaires
{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column; /* pas possible de modifier le .description i   width 100% */
}

.fiches
{
    border: 4px #FFFFFF solid;
    background-color: white;
    height: 140px;
    border-radius: 17px;
    box-shadow: 4px 4px 4px 4px #F2F2F2;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.fiches i
{
    margin: 0;
    color: blue;
}

.fiches img
{
    height: 140px;
    width: 130px;
    border-radius: 15px 0px 0px 15px;
}

.content_picture
{
    height: 150px;
    width: 150px;
}

.description
{
    padding-right: 10px;
    padding-left: 15px;
    width: 66%;
}

.description i
{
    padding-top: 15px;
    font-size: small;
}

#content_cartes_hebergements
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.fiches_hebergements
{
    border: 4px #FFFFFF solid;
    background-color: white;
    height: 200px;
    border-radius: 17px;
    box-shadow: 4px 4px 4px 4px #F2F2F2;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.fiches_hebergements i
{
    color: blue;
    margin: 0;
}

.fiches_hebergements img
{
    height: 120px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.description_hebergements
{
    justify-content: space-between;
    padding-left: 10px;
}

.description_hebergements i
{
    padding-top: 10px;
    font-size: small;
}

.description_hebergements p
{
    padding-top: 5px;
}

#afficher
{
    padding-left: 20px;
    font-family: "Raleway-Bold";
    margin-bottom: 40px;
    margin-top: 20px;
}

#activites
{
    padding-left: 20px;
}

.fiches_activites
{
    border: 4px #FFFFFF solid;
    background-color: white;
    height: 200px;
    border-radius: 17px;
    box-shadow: 4px 4px 4px 4px #F2F2F2;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.fiches_activites i
{
    color: blue;
}

.fiches_activites img
{
    height: 150px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.fiches_activites div
{
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
}

footer
{
    background-color: #F2F2F2;
    padding-left: 20px;
    padding-bottom: 40px;
}