img
{
    width: 100%;
    object-fit: cover;
}  

a
{
    text-decoration: none;
    color: black;
}

#onglets
{
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 24px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #9EA0A1;
    margin-left : 0;
}

#onglets li
{
    float : left;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;
    border : 1px solid #9EA0A1;
}

#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}

#onglets a:hover
{
    background : rgb(143, 135, 135);
}

#bloc_page
{
    max-width: 768px;
    margin: auto;
}

.fas fa-money-bill-wave
{
    border: 1px black solid;
    border-radius: 25px;
}

.pin
{
    border: 2px #FFFFFF solid;
    background-color: #F2F2F2;
}

.icone_filtre
{
    border: 3px #F2F2F2 solid;
    border-radius: 25px;
    box-sizing: content-box;
    font-weight: bold;
}

.icone_filtre > i
{
    color: #0065FC;
    background-color:#DEEBFF;
    font-size: 20px;
    border-radius: 25px;
    display: inline-block;
    padding: 15px;
    margin-left: -2px;
}

#populaires
{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

h1
{
    padding-left: 15px;
}

.fiches
{
    border: 4px #FFFFFF solid;
    background-color: white;
    height: 150px;
    border-radius: 17px;
    box-shadow: 4px 4px 4px 4px #F2F2F2;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 7.5px;
}

.fiches i
{
    color: blue;
}

.fiches img
{
    height: 150px;
    width: 130px;
    border-radius: 15px 0px 0px 15px;
}

.content_picture
{
    width: 150px;
    height: 150px;
    justify-content: center;
}

footer
{
    background-color: #F2F2F2;
}